.passSeatCont {
  margin: 20px auto;
  padding: 10px;
  max-width: 470px;
}

.seatCont {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  justify-content: space-around;
}

.cls_seat {
  flex: 1;
  border: 1px solid;
  padding: 20px;
  margin: 5px 10px;
  cursor: pointer;
}

.cls_seat.alloated {
  background-color: cornflowerblue;
}
.cls_seat.alloated.checkedIn {
  background-color: #009688;
}

.seatAllocation {
  color: #003399;
  font-size: 20px;
  font-family: fantasy;
  margin: 10px;
  text-align: left;
}