.loginServices {
    margin: 20% 0px;
}
.sampleMsg {
    font-size: 20px;
    color: #3F51B5;
    margin-bottom: 20px;
    font-weight: bold;
}
.staffLogin, 
.adminLogin {
    color: white;
    background-color: #2196F3;
    width: 150px;
    height: 40px;
    font-size: 16px;
    display: inline;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}